<header>
	<div class="cover">
		<h2>About</h2>
		<ul id="subnavbar">
      <li><%= link_to "History", about_path, {:class => add_active_class_if("/about")}%></li>
      <!-- <li><%= link_to "Careers", careers_path, {:class => add_active_class_if("/careers")}%></li> -->
	   </ul>
	</div>
</header>
