<header class="about"></header>

<div class="cover">
	<h2>About</h2>
	<ul id="subnavbar">
		<li><%= link_to "History", about_path, {:class => add_active_class_if("/about")}%></li>
	 </ul>
</div>

<div id="about">
	<p>
		Established in 1986, Mu Sigma has been consistently recognized as one of the premier chapters in the fraternity. In addition to being actively involved on the San Diego State University campus, we organize community and professional events throughout the year.
		Mu Sigma creates and develops leaders, both in ourselves and in our community, by focusing on the core values of our fraternity: brotherhood, knowledge, integrity, service and unity. We provide opportunities to gain and exceed the experience necessary to be successful in business and in life.
	</p>
</div>
