<header>
	<div class="cover">
		<h2>About</h2>
		<ul id="subnavbar">
      <li><%= link_to "History", about_path, {:class => add_active_class_if("/about")}%></li>
      <!-- <li><%= link_to "Careers", careers_path, {:class => add_active_class_if("/careers")}%></li> -->
	   </ul>
	</div>
</header>
<div id="founderquote">
	<blockquote><p>"We were to form an organization which might find a great field of work in being of mutual assistance to each other in future business life."</p></blockquote>
	<dl>
		<dt>Howard M. Jefferson</dt>
		<dd>Founder, Alpha Kappa Psi</dd>
	</dl>
</div>
