<header>
	<div class="cover">
		<h2>Brothers</h2>
	</div>
</header>

<div>
	<p style="text-align: center"> 
		This page is currently under construction. 	
	</p>
</div>
<!-- <div id="roster">
	<h3>Executive Board</h3>
	<ul>
	</ul>
	<h3>Committee Chairs</h3>
	<ul>
		<li></li>
		<li></li>
	</ul>

	<h3>Brothers</h3>
	<ul>
	</ul>
</div>
 -->