<header class="rush"></header>

<div class="cover">
	<h2>FAQ</h2>
	<ul id="subnavbar">
		<li><%= link_to "Events", rush_path %></li>
    <li><%= link_to "#whyAKPsi", whyakpsi_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
	</ul>
</div>

<div class="faqtab">
	<script type = "text/javascript">
		window.onload = openFAQ(event, 'Qualifications');
	</script>
  <button class="tablinks" onclick="openFAQ(event, 'Qualifications')">Qualifications</button>
  <button class="tablinks" onclick="openFAQ(event, 'Rush')">Rush</button>
  <button class="tablinks" onclick="openFAQ(event, 'Pledging')">Pledging</button>
</div>

<div id="Qualifications" class="tabcontent">
	<h1>Do I need to be a business major?</h1>
	<br>
	<p>
		No. In fact, most of our members aren't business majors. We are proud of our different backgrounds because we can learn so much from one another. Last year, we were recognized with the Diversity Award on behalf of San Diego State.
	</p>
	<br><br>
	<h1>I'm a part-time student, can I rush Mu Sigma?</h1>
	<br>
	<p>
		Unfortunately, we can only accept students enrolled in 12 or more units at this time.
	</p>
	<br><br>
</div>

<div id="Rush" class="tabcontent">
  <h1>If I don't receive a bid, can I rush again?</h1>
	<br>
	<p>Yes! Oftentimes, it is the case that we have more qualified potential members than we can extend bids to.  We highly encourage that those who do not receive bids to come back and rush again. Candidates who rush more than once show a high level of interest and commitment, which may provide a better chance to receive a bid.</p>
	<br><br>
	<h1>What can I do during Rush to give me the best chance of receiving a bid?</h1>
	<br>
	<p>The best thing you can do during the rush process is to come to as many events as you can, meet as many of our brothers as you can, and be yourself! We are looking for members who are excited to join our fraternity and who we believe can help us become better as a chapter. Just like you are looking for an organization that is the right fit for you, we are looking for members who are the right fit for our fraternity.</p>
	<br><br>
	<h1>What type of rush candidate are you looking for?</h1>
	<br>
	<p>While there is no standard rush candidate, our ideal rushees are highly motivated, passionate, intelligent candidates. Everyone in the fraternity is very different in terms of personality, major, and goals. Ultimately, we are looking for individuals who are excited about contributing to Alpha Kappa Psi.</p>
	<br><br>
	<h1>Do I need to be a Business major to rush?</h1>
	<br>
	<p>We are open to all majors! The diversity amongst our brothers is one of our strongest traits; we have majors in Biology, Communication Studies, Physics, Political Science and many others.</p>
</div>

<div id="Pledging" class="tabcontent">
	<h1>What is the pledge process like?</h1>
	<br>
	<p font-style: italic>The pledge process is designed to develop your personal and professional skills. You will be involved in organizing various social, professional and service events and given the opportunity to network and hone your leadership abilities. In accordance with university regulations, we have a strict no-hazing policy.</p>
	<br><br>
	<h1>What is a bid?</h1>
	<br>
	<p font-style: italic>A bid is an invitation to participate in the pledge process in preparation to joining our fraternity.</p>
</div>

<br></br><br>
