<header class="rush"></header>

<div class="cover">
	<h2>FAQ</h2>
	<ul id="subnavbar">
		<li><%= link_to "Events", rush_path %></li>
    <li><%= link_to "#whyAKPsi", whyakpsi_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
	</ul>
</div>

<div class="faqtab">
  <button class="tablinks" onclick="openFAQ(event, 'Qualifications')">Qualifications</button>
  <button class="tablinks" onclick="openFAQ(event, 'Stub')">Stub</button>
  <button class="tablinks" onclick="openFAQ(event, 'Stub')">Stub</button>
</div>

<div id="Qualifications" class="tabcontent">
  <h1>What is the minimum GPA required to rush Mu Sigma?</h1>
	<br>
  <p>This is a stub!</p>
	<br><br>
	<h1>Do I need to be a business major?</h1>
	<br>
	<p>
		No. In fact, most of our members aren't business majors. We are proud of our different backgrounds because we can learn so much from one another. Last year, we were recognized with the Diversity Award on behalf of San Diego State.
	</p>
	<br><br>
	<h1>I'm a part-time student, can I rush Mu Sigma?</h1>
	<br>
	<p>
		Unfortunately, we can only accept students enrolled in 12 or more units at this time.
	</p>
	<br><br>
</div>

<div id="Stub" class="tabcontent">
  <h1>This is a stub header</h1>
	<p>This is a stub paragraph</p>
</div>

<div id="Stub" class="tabcontent">
	<h1>This is a stub header</h1>
	<p>This is a stub paragraph</p>
</div>

<br></br><br>
