<div id="billboard">
	<div id="rushlink">
		<h2>Alpha Kappa Psi</br><span>The Premier Co-ed Professional Business Fraternity</span></h2>
<!-- 		</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
 -->		<%= link_to "Meet Our Brothers", brothers_path %>
	</div> 
 	<video autoplay="autoplay" poster="/citytimelapse.png" loop muted>
		<source src="/citytimelapse.mp4" type="video/mp4"></source>
		<source src="/citytimelapse.webm" type="video/webm"></source>
	</video> 
<!-- 	<video autoplay="autoplay" poster="/citytimelapse.png" loop >
		<source src="/akpsirush.mp4" type="video/mp4" ></source>
		<source src="/akpsirush3.webm" type="video/webm" ></source>
	</video> -->

</div>

<div id="intro">
	<h1>Alpha Kappa Psi</h1>
	<h3>Co-ed Professional Business Fraternity</h3>
	<div class="cover">
		<div id="intro1">
			<h4>Leadership</h4>
			<p>When you join Alpha Kappa Psi, you join an elite group of professionals who are committed to keeping their skills sharp and careers on track.  We accomplish this through entrepreneurial and professional programs.</p>
		</div>
		<div id="intro2">
			<h4>Community</h4>
			<p>As a fraternity we encourage members to improve our campus and community through philanthropic and service projects. This, combined with our support for small businessess and local startups, results in a level of service unmatched by other college organizations.</p>
		</div>
		<div id="intro3">
			<h4>Brotherhood</h4>
			<p>Members form meaningful and lifelong friendships with a multitude of people, from fellow students to local business leaders and faculty.</p>
		</div>
	</div>
	<p class="linkclick">Learn More <%= link_to "About", about_path %> Us</p>
</div>

<div id="president">
	<blockquote><p>"Alpha Kappa Psi is the apex of leadership and professionalism in the university setting, as well as a community of like-minded individuals. It boasts a large and internationally-recognized network of professional connections and famous alumni, and we are proud to call ourselves the world's oldest and premier co-ed professional business fraternity. We are a diverse and highly-skilled group of young professionals, and our programming caters to a variety of student interests, from coding to entrepreneurship. We welcome all majors, and offer a wealth of opportunities for professional development and personal growth."</p></blockquote>
	<dl>
		<dt>Kavitta Ghai</dt>
		<dd>President, Alpha Kappa Psi</dd>
	</dl>
</div>
