<div id="billboard">
	<div id="rushlink">
		<div id="logoimage"></div>
		<br></br>
		<h2>ALPHA KAPPA PSI</br>MU SIGMA CHAPTER | SDSU </br> <span>The Professional Business Fraternity</span> </h2>
    <br></br><br></br>
    <a href="#homecontent"><button id="scrolldown"></button></a>
	</div>
</div>

<a name="homecontent"></a>
<div>
  <br></br>
  <div id="intro">
    <h1>The Premier Business Fraternity at SDSU</h1>
    <hr>
    <br></br>
    <div class="cover">
      <div id="intro1">
        <h4>Leadership</h4>
        <p>When you join Alpha Kappa Psi, you join an elite group of professionals who are committed to keeping their skills sharp and careers on track.  We accomplish this through entrepreneurial and professional programs.</p>
      </div>
      <div id="intro2">
        <h4>Community</h4>
        <p>As a fraternity we encourage members to improve our campus and community through philanthropic and service projects. This, combined with our support for small businessess and local startups, results in a level of service unmatched by other college organizations.</p>
      </div>
      <div id="intro3">
        <h4>Brotherhood</h4>
        <p>Members form meaningful and lifelong friendships with a multitude of people, from fellow students to local business leaders and faculty.</p>
      </div>
    </div>
  </div>
  <br></br><br></br>
</div>
