<div id="billboard">
	<div id="rushlink">
		<div id="logoimage"></div>
		<br></br>
		<h2>ALPHA KAPPA PSI</br>MU SIGMA CHAPTER | SDSU </br> <span>The Professional Business Fraternity</span> </h2>
	</div> 
</div>
