<header class="rush"></header>

<div class="cover">
	<h2>Events</h2>
	<ul id="subnavbar">
		<li><%= link_to "Events", rush_path %></li>
    <li><%= link_to "#whyAKPsi", whyakpsi_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
	</ul>
</div>

<div id="schedule">
	<div class="dates">
		<div class="rushcover">
			<dl>
				<dt>Meet the Chapter</dt>
				<dd>7-9 P.M. @ __________</dd>
				<dd>Join us and learn about Alpha Kappa Psi, the world's premier co-ed professional business fraternity.</dd>
			</dl>
			<ul>
				<li>Thursday</li>
				<li>September 7th</li>
			</ul>
		</div>
	</div>
	<div class="dates">
		<div class="rushcover">
			<dl>
				<dt>Food Fundraiser</dt>
				<dd>7-9 P.M. @ ______________</dd>
				<dd>Mingle with some of our brothers at ___________.
				</dd>
			</dl>
			<ul>
				<li>Monday</li>
				<li>September 11th</li>
			</ul>
		</div>
	</div>
	<div class="dates">
		<div class="rushcover">
			<dl>
				<dt>AKPstrike</dt>
				<dd>7-9 P.M. @ Aztec Lanes</dd>
				<dd>Come out for a fun night of bowling, ping-pong, and pool with the brothers of Mu Sigma.</dd>
			</dl>
			<ul>
				<li>Tuesday</li>
				<li>September 12th</li>
			</ul>
		</div>
	</div>
	<div class="dates">
		<div class="rushcover">
			<dl>
				<dt>Game Night</dt>
				<dd>7-9 P.M. @ __________</dd>
				<dd>Join us for a mixture of interactive improv, board games, and food with the members of Mu Sigma.</dd>
			</dl>
			<ul>
				<li>Wednesday</li>
				<li>September 13th</li>
			</ul>
		</div>
	</div>
	<div class="dates">
		<div class="rushcover">
			<dl>
				<dt>Meet the Chapter 2</dt>
				<dd>7-9 P.M. @ The Hillel on Lindo Paseo</dd>
				<dd>Meet and greet with members of Mu Sigma, treat yourself to pizza, and get inspired by our featured public speakers! Learn "why AKPsi".</dd>
			</dl>
			<ul>
				<li>Thursday</li>
				<li>September 14th</li>
			</ul>
		</div>
	</div>
	<div class="dates">
		<div class="rushcover">
			<dl>
				<dt>Rise Above the Stars</dt>
				<dd>7-9 P.M. @ 4th Floor Student Union</dd>
				<dd>Our final rush event culminates in a night under the stars on a rooftop terrace with some live music and food bites!</dd>
			</dl>
			<ul>
				<li>Friday</li>
				<li>September 15th</li>
			</ul>
		</div>
	</div>
</div>

<div id="rushending">
</div>
