<header></header>

<div class="cover">
	<h2>Rush</h2>
	<ul id="subnavbar">
		<li><%= link_to "Events", "" %></li>
      	<li><%= link_to "#whyAKPsi", "" %></li>
		<li><%= link_to "FAQ", "" %></li>
	</ul>
</div>
