<header>
  <div class="cover">
    <h2>Sponsors</h2>
    <ul id="subnavbar">
      <li><%= link_to "History", about_path, {:class => add_active_class_if("/about")}%></li>
      <!-- <li><%= link_to "Careers", careers_path, {:class => add_active_class_if("/careers")}%></li> -->
      <li><%= link_to "Sponsors", sponsors_path, {:class => add_active_class_if("/sponsors")}%></li>
    </ul>
  </div>
</header>
<a href="https://www.novacoast.com/">
  <div id="novacoast_logo">
    <div class="cover"></div>
  </div>
</a>
<div id="sponsor_blurb">
  A uniquely positioned IT services and solutions company, Novacoast is less defined by our broad range of expertise and services than by a perspective rooted in our cooperative environment of adaptable problem solving.

  Beyond security specialists, software developers or network engineers, we are guides, allies, and problem solvers.
  
  From implementation services, license fulfillment and technical training to software development, staffing services and custom or emerging solutions, Novacoast is an experienced and comprehensive IT business resource empowered on every level by our flexible and fearless perspective.
</div>
