<header class="rush"></header>

<div class="cover">
	<h2>#whyakpsi</h2>
	<ul id="subnavbar">
		<li><%= link_to "Events", rush_path %></li>
    <li><%= link_to "#whyAKPsi", whyakpsi_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
	</ul>
</div>
