<header class="makeawish"></header>
<div class="cover">
	<h2>Make-A-Wish Sponsors</h2>
	<ul id="subnavbar">
		<li><%= link_to "Event",  makeawish_path %></li>
    <li><%= link_to "Sponsors", sponsors_path %></li>
	</ul>
</div>

<br><br>
<div id="sponsor_image"></div>
<br><br>
<div id="sponsor_3"></div>
<br><br>
<div id="sponsor_2"></div>
<br><br>
