<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>New message from the AKPsi website.</p>

    <p>NAME: <%= @email_form.name %></p>
    <p>EMAIL: <%= @email_form.email %></p>
    <p>SUBJECT: <%= @email_form.subject %></p>
    <p>MESSAGE: <%= @email_form.message %></p>
  </body>
</html>
