<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Someone new wants to be added to rush subscribers list from the AKPsi website.</p>
    <p>EMAIL: <%= @email_form.email %></p>
  </body>
</html>
